@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

/* Example Usage */
body {
  // font-family: "Poppins", sans-serif; /* Change this to test different fonts */
  font-family: "Jost", sans-serif;
  // font-family: "Nunito", sans-serif;
  // font-family: "Baloo 2", sans-serif;
  // font-family: "Quicksand", sans-serif;
  // font-family: "Lexend", sans-serif;
  // font-family: "Atkinson Hyperlegible", sans-serif;
  // font-family: "Fredoka", sans-serif;
}

:root {
  --grayColor: rgb(153, 153, 155);
  --dark-primary: rgb(46, 46, 46);
  --light-gray: rgb(235, 235, 235);
  --off-white: rgb(245, 245, 245);
  --primary: rgb(59 130 246); /* bg-blue-500 */
  --lightPrimary: rgb(95, 145, 255); /* bg-blue-500 */
  --danger: rgb(220, 38, 38); /* bg-red-500 */
  --greenColor: rgb(58, 216, 116); /* bg-green-500 */
  --font: "Inter", sans-serif;
}

// side bar
@layer base {
  :root {
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer utilities {
  .openNav {
    transform: translate(0%);
    transition: 0.5s all ease;
  }

  .closeNav {
    transform: translate(100%);
    transition: 0.5s all ease;
  }
}
body * {
  will-change: contents;
}

.title {
  @apply text-4xl font-semibold;
}

.container {
  max-width: 1300px;
  margin-inline: auto;
  padding: 20px 50px;
}

@media (max-width: 650px) {
  .container {
    max-width: 1300px;
    margin-inline: auto;
    padding: 20px 30px;
  }
}
body {
  background-color: #f8f9fa;
  font-size: 16px;
  // font-family: var(--font);
  /* font-family: "Bahnschrift"; */
  /* font-size: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important; */
}

.grid-container {
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  grid-template-rows: repeat(3, auto);
}
@media (min-width: 900px) {
  /* 3 columns * 270px = 810px + gaps */
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
.videos-container > div {
  align-items: start;
  display: grid;
  grid-template-rows: subgrid;
  grid-template-columns: subgrid;
  grid-row: span 3;
  gap: 0;
}

.backdropOpen {
  background-color: black;
  opacity: 0.4;
  transition: 0.5s all ease;
}

.backdropClosed {
  opacity: 0;
  transition: 0.5s all ease;
  pointer-events: none;
}

hr {
  border-top-width: 1.5px;
}

#loader {
  z-index: 1;
  width: 60px;
  height: 60px;
  border: 7px solid #d6d6d6;
  border-radius: 50%;
  border-top: 7px solid rgb(58, 143, 255);
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s;
}

@-webkit-keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0px;
    opacity: 1;
  }
}

@keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

/* .jodit-popup__content {
  z-index: 100;
} */

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.623);
}

.close-btn {
  background-color: #ebebf2;
  border-radius: 3px;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  margin-top: 2rem;
  outline: none;
  border: none;
  font-weight: 500;
  text-transform: uppercase;
}

.close-btn:hover,
.close-btn:focus {
  background-color: #9393b2;
  color: #ffff;
}

@media screen and (max-width: 480px) {
  .skills li {
    padding: 0.5rem 0.8rem;
    margin: 2rem 0.4rem;
    font-size: 1rem;
  }
}

.subtitle-active {
  background-color: yellow;
  font-weight: bold;
}

iframe {
  width: 100%;
  height: 100%;
}

@media (max-width: 812px) {
  .videoContainer {
    flex-direction: column;
  }
}

.subtitle::after {
  content: attr(data-translated-text);
  text-wrap: wrap;
  margin-top: 0px;
  padding-left: 30px;
  width: 100%;
  color: #393939;
  word-break: break-word;
  display: block;
  user-select: none;
}

.subtitle {
  &::before {
    content: "";
    background-image: url(https://icons.veryicon.com/png/o/internet--web/truckhome/play-47.png);
    opacity: 0;
    position: absolute;
    width: 25px;
    height: 25px;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    left: 0px;
    top: 2px;
    -o-object-fit: cover;
    object-fit: cover;
  }
  &:hover::before {
    opacity: 0.7;
  }
}

.channel-video-thumbnail::before {
  content: attr(data-duration);
  position: absolute;
  background-color: rgba(0, 0, 0, 0.552);
  color: white;
  right: 5px;
  bottom: 5px;
  padding: 5px 10px;
  font-size: larger;
}

.translate-text h1,
.translate-text h2,
.translate-text h3,
.translate-text h4,
.translate-text h5 {
  font-weight: 600 !important;
  margin-block: 15px !important;
}

.highlight {
  background-color: rgb(67, 125, 242);
  padding: 3px 5px;
  border-radius: 3px;
  display: inline-flex;
  margin-right: 3.2px;
  color: white;

  cursor: pointer;
}

.tiptap p {
  font-size: 14px !important;
  font-family: var(--font);
}
.tiptap-editor {
  .ProseMirror[contenteditable="false"] {
    padding: 0px;
  }
  :has([contenteditable="false"]) {
    & {
      box-shadow: none;
      border: none;
      outline: none;
      * {
        background-color: transparent;
      }
    }
    .editor-menu {
      display: none;
    }
  }
}
.progress__bar::before {
  width: var(--width);
}

.study-cards__div .ql-toolbar {
  display: none;
}

.loader {
  position: absolute;
  height: 25px;
  width: 25px;
  right: 20px;
  top: 20%;
  display: block;
  display: inline-block;
  animation: around 5.4s infinite;
}

@keyframes around {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader::after,
.loader::before {
  content: "";
  background: white;
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 100%;
  border-width: 3.5px;
  border-color: var(--primary) var(--primary) transparent transparent;
  border-style: solid;
  border-radius: 30px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  animation: around 0.7s ease-in-out infinite;
}

.loader::after {
  animation: around 0.7s ease-in-out 0.1s infinite;
  background: transparent;
}
.translationWindow {
  font-weight: normal !important;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 220.9 39.3% 11%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 224 71.4% 4.1%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 210 20% 98%;
    --primary-foreground: 220.9 39.3% 11%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 216 12.2% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

.modalScroll::-webkit-scrollbar {
  width: 11px !important;
}

.modalScroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 60px rgba(146, 146, 146, 0.3) !important;
}

.modalScroll::-webkit-scrollbar-thumb {
  background-color: rgb(164, 164, 164);
  border-radius: 20px;
}

.checkInput::before {
  content: "";
  width: 0.9em;
  display: block;
  height: 0.9em;
  position: absolute;
  opacity: 0;
  top: 50%;
  bottom: 50%;
  right: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 120ms opacity ease-in-out;
  box-shadow: inset 1em 1em rgb(255, 255, 255);
  transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

.checkInput:checked::before {
  /* transform: scale(1); */
  opacity: 1;
}

.ProseMirror,
.text-div {
  padding: 30px;

  //   min-height: 200px;
  // font-family: Arial, sans-serif;
  // width: 90%;
  // margin-top: 20px;
  margin-inline: auto;
  background-color: #fff;
  perspective: 1px;

  //   color: #333;
  //   outline: none;
  //   transition: border-color 0.3s ease;

  &:focus {
    border: none;
    outline: none;
  }

  /* Headings */

  h2 {
    font-size: 1.75rem;
    font-weight: 600;
    line-height: 37px;
    margin-top: 14px !important;
    margin-bottom: 7px !important;
  }

  h3 {
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 12px !important;
    margin-bottom: 6px !important;
  }

  h4 {
    font-size: 1.25rem;
    font-weight: 500;
    margin-top: 10px !important;
    margin-bottom: 5px !important;
  }

  /* Paragraph */
  p {
    font-size: 1rem;
    line-height: 1.6 !important;
    margin-bottom: 12px !important ;
  }

  /* Lists */
  ul {
    list-style-type: disc !important;
    padding-left: 20px !important;
    margin-bottom: 12px !important;
  }

  ol {
    list-style-type: decimal !important;
    padding-left: 20px !important;
    margin-bottom: 12px !important;
  }

  li {
    margin-bottom: 4px !important;
  }

  /* Blockquote */
  blockquote {
    border-left: 4px solid #ccc;
    padding-left: 12px;
    font-style: italic;
    color: #666;
    margin: 10px 0;
  }

  /* Code Blocks */
  pre {
    background: #282c34;
    color: #ffffff;
    padding: 12px;
    border-radius: 6px;
    overflow-x: auto;
    font-family: "Courier New", monospace;
  }

  code {
    background: #f4f4f4;
    color: #d63384;
    padding: 2px 4px;
    border-radius: 4px;
    font-family: "Courier New", monospace;
  }

  /* Horizontal Rule */
  hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 16px 0;
  }

  /* Bold, Italic, Underline */
  strong {
    font-weight: bold;
    // color: #222;
  }

  em {
    font-style: italic;
    // color: #444;
  }

  // span {
  //   * {
  //     color: inherit;
  //   }
  // }
  u {
    text-decoration: underline;
  }

  @media (max-width: 650px) {
    padding: 30px 15px;
  }
}

.inputLoading {
  opacity: 60%;
  pointer-events: none;
}

/* Basic editor styles */

.tiptap {
  :first-child {
    margin-top: 0;
  }

  /* Table-specific styling */
  table {
    border-collapse: collapse !important;
    margin: 0 !important;
    overflow: hidden !important;
    table-layout: fixed !important;
    width: 100% !important;

    td,
    th {
      border: 1px solid rgb(195, 195, 195) !important;
      box-sizing: border-box !important;
      min-width: 1em !important;
      padding: 6px 8px !important;
      position: relative !important;
      vertical-align: top !important;

      > * {
        margin-bottom: 0 !important;
      }
    }

    th {
      background-color: rgb(218, 218, 218) !important;
      font-weight: bold !important;
      text-align: left !important;
    }

    .selectedCell:after {
      background: gray !important;
      content: "" !important;
      left: 0 !important;
      right: 0 !important;
      top: 0 !important;
      bottom: 0 !important;
      pointer-events: none !important;
      position: absolute !important;
      z-index: 2 !important;
    }

    .column-resize-handle {
      background-color: var(--primary) !important;
      bottom: -2px !important;
      pointer-events: none !important;
      position: absolute !important;
      right: -2px !important;
      top: 0 !important;
      width: 4px !important;
    }
  }

  .tableWrapper {
    margin: 1.5rem 0;
    overflow-x: auto;
  }

  &.resize-cursor {
    cursor: ew-resize;
    cursor: col-resize;
  }
}

.google-btn {
  iframe {
    width: 100% !important;
    max-width: none;
    * {
      width: 100% !important;
      max-width: none;
    }
  }
}
